body {
  font-family: 'Open Sans', sans-serif;
  color: #2A2A2A;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 0;
}
a {
  color: #000;
  transition: all .2s;
}
a:hover {
  background-color: #000;
  color: #fff;
}
.btn {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 30px;
  font-size: 12px;
  text-align: center;
  z-index: 1;
  border: 1px solid rgba(0,0,0,.8);
  padding: 6px 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s;
} 
.btn:hover {
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

.switch {
  top: 80px;
  text-align: center;
  background-color: #fbbf07;
} 
.switch:hover {
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

#copyright {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 9px;
  color: rgba(0,0,0,.5);
}

@media only screen and (max-width: 500px) {
  canvas {
    left: 0;
  }
  .switch {
    top: 20px;
    left: 100px;
  }
}
